
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>
<hr />

<a asp-action="UserList">Manage Roles</a> |
<a asp-action="PersonalProjects" asp-controller="Project">Your Projects</a> |
<a asp-action="AllProjects" asp-controller="Project">All Projects</a> |
<a asp-action="AllTickets" asp-controller="Ticket">All Tickets</a> 

