@model SD_125_BugTracker.Models.Project

@{
    ViewData["Title"] = "createProject";
}
<h4>Create New Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createProject" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name=userId value="@ViewBag.userId"/>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

