@model ApplicationUser
@{
    ViewData["Title"] = "Index";
}

<h1>Submitter Dashboard</h1>
<hr />


<a asp-action="viewProjects" asp-controller="Project" asp-route-userId = "@ViewBag.userId">Manage Projects</a> |
<a asp-action="Index" asp-controller="Tickets" asp-route-userId = "@ViewBag.userId" >Manage Tickets</a> |
<a asp-action="Create" asp-controller="Tickets" asp-route-userId = "@ViewBag.userId">Create New Ticket</a> 
