@model dynamic

@{
    ViewBag.Title = "Assign User to Ticket";
    Layout = "_Layout";
}

<h2>Assign User to Ticket</h2>

<form asp-action="AssignUserToTicket" method="post">
    <div>
        <label class="control-label">Ticket Title </label>
       <label class="form-control">@ViewBag.ticketTitle</label>
        <input hidden name="ticketId" value="@ViewBag.ticketId"/>     
    </div>
    <div>
        <label class="control-label">User</label>
        <select class="form-control" name="userId" asp-items="@ViewBag.users" ></select>
    </div>
    <div>
        <input type="submit" value="Assign User to Ticket" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}