@model Ticket

@{
    ViewBag.Title = "Change ticket status";
    Layout = "_Layout";
}

<h2>Change Ticket Status</h2>

<form asp-action="ChangeStatus">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TicketStatusId" class="control-label">Ticket Status</label>
        <select asp-for="TicketStatusId" class="form-control" asp-items="@ViewBag.ticketStatuses" aria-selected="@Model.TicketStatusId"></select>
        <span asp-validation-for="TicketStatusId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>