
@{
    ViewData["Title"] = "Index";
}

<h1>Project Manager Dashboard</h1>
<hr />


<a asp-action="Index" asp-controller="Project" asp-route-userId = "@ViewBag.userId" >Manage Projects</a> |
<a asp-action="Index" asp-controller="Tickets" asp-route-userId = "@ViewBag.userId" >Manage Tickets</a> 

