
@{
    ViewData["Title"] = "Index";
}

<h1>Project Manager Dashboard</h1>
<hr />


<a asp-action="Index" asp-controller="Project" >Manage Projects</a> |
<a asp-action="ManageTickets" asp-controller="Ticket" >Manage Tickets</a> 

